<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <th:block th:replace="layout/layout.html::css"></th:block>
    <th:block th:replace="layout/navbar.html::css"></th:block>
</head>
<body>
<footer class="site-footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <p class="copyright-text">Money Lover
                    - Design: <a rel="sponsored" th:href="@{/user/index}"
                                 target="_blank">Nice to meet you</a></p>
            </div>
        </div>
    </div>
</footer>
<th:block th:replace="layout/layout.html::script"></th:block>
</body>
</html>