<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <th:block th:fragment="css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<URL_CSS>"/>
        <link href="/css/apexcharts.css" rel="stylesheet">
        <link href="/css/tooplate-mini-finance.css" rel="stylesheet">
        <style>
            .nav-item-active {
                background-color: #6fe76f;
                border-left: 5px solid #a9d3ff;
                width: 148px;
                border-radius: 13px;
                color: white;
            }
        </style>
    </th:block>
    <th:block th:replace="layout/navbar::css"></th:block>
</head>
<body>
<th:block th:replace="layout/navbar.html::header"></th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:replace="layout/sidebar.html::nav"></th:block>
        <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
            <section layout:fragment="content"></section>
            <th:block th:replace="layout/footer.html::footer"></th:block>
        </main>
    </div>
</div>
<th:block th:fragment="script">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js"></script>
</th:block>
</body>
</html>