<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <th:block th:replace="layout/layout.html::css"></th:block>
    <th:block th:replace="layout/header.html::css"></th:block>
</head>
<body>
<nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse" th:fragment="nav">
    <div class="position-sticky py-4 px-3 sidebar-sticky">
        <ul class="nav flex-column h-100">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/}">
                    <i class="bi-house-fill me-2"></i>
                    Overview
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/wallet/index}">
                    <i class="bi-wallet me-2"></i>
                    My Wallet
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/profile}">
                    <i class="bi-person me-2"></i>
                    Profile
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/user/setting}">
                    <i class="bi-gear me-2"></i>
                    Settings
                </a>
            </li>

            <li class="nav-item featured-box mt-lg-5 mt-4 mb-4">
                <img src="images/credit-card.png" class="img-fluid" alt="">

                <a class="btn custom-btn" href="#">Upgrade</a>
            </li>

            <li class="nav-item border-top mt-auto pt-2">
                <a class="nav-link" href="#">
                    <i class="bi-box-arrow-left me-2"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
<th:block th:replace="layout/layout.html::script"></th:block>
</body>
</html>