<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Settings</title>
    <th:block th:replace="layout/layout.html::css"></th:block>
    <th:block th:replace="layout/navbar.html::css"></th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Settings</h1>
    </div>
    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane" type="button" role="tab"
                                aria-controls="profile-tab-pane" aria-selected="true">Profile
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="password-tab" data-bs-toggle="tab"
                                data-bs-target="#password-tab-pane" type="button" role="tab"
                                aria-controls="password-tab-pane" aria-selected="false">Password
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="notification-tab" data-bs-toggle="tab"
                                data-bs-target="#notification-tab-pane" type="button" role="tab"
                                aria-controls="notification-tab-pane" aria-selected="false">Notification
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel"
                         aria-labelledby="profile-tab" tabindex="0">
                        <h6 class="mb-4">User Profile</h6>
                        <form class="custom-form profile-form" th:action="@{/user/update}" th:object="${user}" method="post" role="form">
                            <input class="form-control" type="text" name="firstName" id="firstName" placeholder="Họ:" th:field="*{firstName}">
                            <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Tên:" th:field="*{lastName}">
                            <input type="date" id="birthday" class="form-control" name="birthday" th:field="*{birthday}" onchange="formatDateString()">
                            <input class="form-control" type="email" name="email" id="email" placeholder="Emai: abc12gmail.com" th:field="*{email}">
                            <div class="input-group mb-1">
                                <img class="profile-image img-fluid" th:src="${user.image}" alt="Profile Image">
                                <input type="file" class="form-control" id="inputGroupFile02">
                            </div>

                            <div class="d-flex">
                                <button type="button" class="form-control me-3">
                                    Reset
                                </button>

                                <button type="submit" class="form-control ms-2">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="password-tab-pane" role="tabpanel"
                         aria-labelledby="password-tab" tabindex="0">
                        <h6 class="mb-4">Password</h6>
                        <form class="custom-form password-form" action="#" method="post" role="form">
                            <input type="password" name="password" id="password" pattern="[0-9a-zA-Z]{4,10}"
                                   class="form-control" placeholder="Current Password" required="">
                            <input type="password" name="confirm_password" id="confirm_password"
                                   pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="New Password"
                                   required="">
                            <input type="password" name="confirm_password" id="confirm_passwords"
                                   pattern="[0-9a-zA-Z]{4,10}" class="form-control"
                                   placeholder="Confirm Password" required="">
                            <div class="d-flex">
                                <button type="button" class="form-control me-3">
                                    Reset
                                </button>
                                <button type="submit" class="form-control ms-2">
                                    Update Password
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="notification-tab-pane" role="tabpanel"
                         aria-labelledby="notification-tab" tabindex="0">
                        <h6 class="mb-4">Notification</h6>
                        <form class="custom-form notification-form" action="#" method="post" role="form">
                            <div class="form-check form-switch d-flex mb-3 ps-0">
                                <label class="form-check-label" for="flexSwitchCheckCheckedOne">Account
                                    activity</label>
                                <input class="form-check-input ms-auto" type="checkbox" name="form-check-input"
                                       role="switch" id="flexSwitchCheckCheckedOne" checked>
                            </div>
                            <div class="form-check form-switch d-flex mb-3 ps-0">
                                <label class="form-check-label" for="flexSwitchCheckCheckedTwo">Payment
                                    updated</label>
                                <input class="form-check-input ms-auto" type="checkbox" name="form-check-input"
                                       role="switch" id="flexSwitchCheckCheckedTwo" checked>
                            </div>
                            <div class="d-flex mt-4">
                                <button type="button" class="form-control me-3">
                                    Reset
                                </button>
                                <button type="submit" class="form-control ms-2">
                                    Update Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-12">
            <div class="custom-block custom-block-contact">
                <h6 class="mb-4">Still can’t find what you looking for?</h6>
                <p>
                    <strong>Call us:</strong>
                    <a href="tel: 305-240-9671" class="ms-2">
                        (60)
                        305-240-9671
                    </a>
                </p>
                <a href="#" class="btn custom-btn custom-btn-bg-white mt-3">
                    Chat with us
                </a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout/layout.html::script"></th:block>
<script>
    function formatDateString() {
        var dateInput = document.getElementById("birthday");
        var dateValue = dateInput.value;
        var formattedDate = formatDate(dateValue);
        document.getElementById("valueBirthday").value = formattedDate;
    }

    function formatDate(dateString) {
        var date = new Date(dateString);
        var day = date.getDate();
        if (day < 10) {
            day = "0" + day;
        }
        var month = date.getMonth() + 1;
        if (month < 10) {
            month = "0" + month;
        }
        var year = date.getFullYear();

        return day + "/" + month + "/" + year;
    }
</script>
</body>
</html>