<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title> Settings</title>
    <th:block th:replace="layout/layout.html::css"></th:block>
    <th:block th:replace="layout/header.html::css"></th:block>
</head>
<body>
<th:block layout:fragment="content">
        <div class="title-group mb-3">
            <h1 class="h2 mb-0">Transations Detail</h1>
        </div>

        <div class="row my-4">
            <div class="col-lg-12 col-12">
                <div class="custom-block custom-block-transation-detail bg-white">
                    <div class="d-flex flex-wrap align-items-center border-bottom pb-3 mb-3">
                        <div class="d-flex align-items-center">
                            <img src="images/profile/young-woman-with-round-glasses-yellow-sweater.jpg"
                                 class="profile-image img-fluid" alt="">

                            <div>
                                <p>Store</p>

                                <small class="text-muted">Payment Received</small>
                            </div>
                        </div>

                        <div class="ms-auto">
                            <small>22/8/2023</small>
                            <strong class="d-block text-success"><span class="me-1">+</span> $280</strong>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap align-items-center">
                        <div class="custom-block-transation-detail-item mt-4">
                            <h6>Transation ID</h6>

                            <p>283J3S0EL023</p>
                        </div>

                        <div class="custom-block-transation-detail-item mt-4 mx-auto px-4">
                            <h6>Description</h6>

                            <p>Shopee</p>
                        </div>

                        <div class="custom-block-transation-detail-item mt-4 ms-lg-auto px-lg-3 px-md-3">
                            <h6>Payment Type</h6>

                            <p>C2C Transfer</p>
                        </div>

                        <div class="custom-block-transation-detail-item mt-4 ms-auto me-auto">
                            <h6>Amounts</h6>

                            <p>$280</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </th:block>

<th:block th:replace="layout/layout.html::script"></th:block>

</body>
</html>