<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Create Currency</title>
    <th:block th:replace="layout/layout.html::css"></th:block>
    <th:block th:replace="layout/header.html::css"></th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel"
                         aria-labelledby="profile-tab" tabindex="0">
                        <h6 class="mb-4">Create Currency</h6>
                        <form class="custom-form profile-form" th:action="@{/currency/add}" method="post" role="form">
                            <input class="form-control" type="text" name="name" id="name"
                                   placeholder="name currency...">
                            <input class="form-control" type="text" name="code" id="code"
                                   placeholder="currency code ">
                            <input class="form-control" type="number" name="transfer" id="transfer"
                                   placeholder=" currency transfer ">
                            <input class="form-control" type="text" name="symbol" id="symbol"
                                   placeholder="currency symbol ">
                            <div class="d-flex">
                                <button type="submit" class="form-control me-3">
                                    Create
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="layout/layout.html::script"></th:block>
</th:block>
</body>
</html>