<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Create Wallet</title>
    <th:block th:replace="layout/layout.html::css"></th:block>
    <th:block th:replace="layout/header.html::css"></th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel"
                         aria-labelledby="profile-tab" tabindex="0">
                        <h2>Update Category</h2>
                        <form th:action="@{/category/update/{id}(id=${category.id})}" class="custom-form profile-form" th:object="${category}" method="post">
                            <div>
                                <input class="form-control" type="text" name="name" id="name"
                                       placeholder="name:"  th:field="*{name}" required>
                            </div>
                            <div class="input-group mb-1">
                                <img class="profile-image img-fluid" th:src="${category.image}" alt="Profile Image">
                                <input type="file" class="form-control" id="inputGroupFile02" name="image">
                            </div>
                            <div>
                                <label for="parentId">Parent Category:</label>
                                <select style="width: 164px;margin-left: 171px;margin-top: -30px;"
                                        class="form-select" aria-label="Default select example" id="parentId" name="parentId"
                                        required th:field="*{parentId}">
                                    <option th:value="1">Khoản thu</option>
                                    <option th:value="2">Khoản chi</option>
                                    <option th:value="3">Nợ/Cho vay</option>
                                </select>
                            </div>
                            <div>
                                <label style="margin-top: 15px;" for="status">Status:</label>
                                <select style="width: 107px;margin-left: 170px;margin-top: -30px;" class="form-select" aria-label="Default select example" id="status" name="status" required th:field="*{status}">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <button type="submit" class="form-control me-3" >Update</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="layout/layout.html::script"></th:block>
</th:block>
</body>
</html>